<div class="row">
    <div class="col-xl-12">
        <form [formGroup]="editRecipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" style="margin-right: 10px ;" [disabled]="!editRecipeForm.valid">Save</button>
                    <button class="btn btn-danger" (click)="cancelClicked()"type="button">Clear</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Recipe Name</label>
                        <input id="name" name="name" [formControlName]="'name'" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="img">Image Path</label>
                        <input id="img" name="imgPath" [formControlName]="'imgPath'" class="form-control" type="text" #imagePath>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img [src]="imagePath.value" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="discription">Description</label>
                        <textarea id="discription" name="discription" [formControlName]="'description'" class="form-control" type="text" rows="6"></textarea> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" [formArrayName]="'ingredients'">
                    <div class="row" 
                        *ngFor="let ingrident of getControls(); 
                        let i = index" [formGroupName]="i" style="margin: 10px;">
                        <div class="col-xs-8">
                            <input type="text" 
                            class="form-control" 
                            [formControlName]="'name'"> 
                        </div>
                        <div class="col-xs-2">
                            <input type="number"
                             class="form-control" 
                             [formControlName]="'amount'">
                        </div>
                        <div class="col-xs-2">
                            <button type="button" (click)="deleteIng(i)"class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                    <hr>
                    <button class="btn btn-success" type="button"(click)="addIng()">Add ingredients</button>
                </div>
            </div>
        </form>
    </div>
</div>